body {
  background-color: rgb(218, 171, 213);
}

h1 {
  color: white;
  font-size: 4em;
}
h2 {
  color: white;
  font-size: 2em;
}

.container {
  height: 800px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.center {
  position: absolute;
  top: 50%;
  margin-left: auto;
}

/* CSS */
.button-1 {
  background-color: #f0857e;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 4.5em;
  font-weight: 500;
  height: 100px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 30px 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #eea5a0;
}

.mirror {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

@media (max-width: 480px) {
  .button-1 {
    height: 100px;
  }
}
